.container {
  max-width: 1120px;
  margin: 2rem auto 0;
  padding: 0 2rem;

}

.posts {
  max-width: 700px;
  a {

    & + a {
      display: block;
      margin-top: 50px;
    }

    strong{
      font-weight: bold;
      font-size: 2rem;
      line-height: 33px;
      color: var(--silver-100);
    }
  
    p {
      color: var(--silver-300);
      font-size: 1.1rem;
      margin-top: 8px;
    }
  }

  .infoPost{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-top: 1.3rem;
  
    span{
      display: flex;
      align-items: center;
      color: var(--silver-500);
      font-size: 14px;
  
      svg{
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}